body{
    background-color: darkolivegreen;
}
.menue{
    background-color: black;
    height: 800px;
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 25% 25% 25% 25%;
}
